%div{:id => "#{dom_id task}"}
	%div{:class => "grid grid-cols-4 gap-4"}
		.my-5
			%strong.block.font-medium.mb-1 Description:
			= link_to task.description, task
		.my-5
			%strong.block.font-medium.mb-1 Notes:
			= task.notes
		.my-5
			%strong.block.font-medium.mb-1 Deadline:
			= task.deadline

		.my-8
			= link_to "Edit", edit_task_path(task), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium"	
	
	%hr
